{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container py-5 mx-auto col-lg-8">
    <h1 class="display-6 mb-4">Ваш профиль</h1>
    <div class="fs-5">
      <span class="fw-semibold">Имя пользователя:</span>
      {{ user.username }}
    </div>
    <div class="fs-5">
      <span class="fw-semibold">Email:</span>
      {{ user.email }}
    </div>
    <div class="fs-5">
      <span class="fw-semibold">Имя:</span>
      {{ user.first_name }}
    </div>
    <div class="fs-5">
      <span class="fw-semibold">Фамилия:</span>
      {{ user.last_name }}
    </div>
    <div class="mt-4">
      <a href="{% url 'users_update' username=user.username %}"
         class="btn btn-primary me-3">Редактировать профиль</a>
      <a href="{% url 'users_update_password' username=user.username %}"
         class="btn btn-primary me-3">Изменить пароль</a>
      <a href="{% url 'users_delete' username=user.username %}"
         class="btn btn-danger">Удалить</a>
    </div>
    <p class="fs-3 mt-5">Пока тут ничего нет, но скоро появится...</p>
  </div>

{% endblock content %}
